extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
<<<<<<< HEAD
					h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
						div.signup-wall
							ul.user-details
								li Username ---> #{user.username}
								li Email    ---> #{user.email}
								li First Name ---> #{user.firstName} 
								li Last Name ---> #{user.lastName}
						button(id="myhomework" class='btn btn-lg btn-primary btn-block half-width float-left') My Homework
						//- button(class='btn btn-lg btn-primary btn-block half-width float-right' onclick="window.location.href('/signout')") Sign Out
						a(href='/signout', class='text-center new-account float-right margin-higher') Sign Out
						div.signup-wall.topper
							form(class='form-signin' id="add")
								input(type='text', name='request' class='form-control', placeholder='Request',required, autofocus)
								input(type='text', name='detail' class='form-control', placeholder='Detail', required)
								input(type='text', name='date' class='form-control', placeholder='xxxx/xx/xx-xx:xx', required)
								div.whole-width
									button(class='btn btn-lg btn-primary btn-block half-width float-left') Add
									button(class='btn btn-lg btn-primary btn-block half-width float-right') Cancel
								span.clearfix
=======
					if user.identity == "T"
						h1.text-center.login-title Teacher #{user.firstName} , Welcome !
					else
						h1.text-center.login-title Student #{user.firstName} , Welcome !
					//- h1.text-center.login-title Check your details below:
					div.signup-wall
						ul.user-details
							li Username&nbsp;&nbsp;---> #{user.username}
							li Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---> #{user.email}
							li First Name&nbsp;---> #{user.firstName} 
							li Last Name&nbsp;---> #{user.lastName}
							if user.identity == "T"
								li Identity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---> Teacher
							else
								li Identity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---> Student
					a(href='/request', class='text-center new-account') Homework Request
					a(href='/homework', class='text-center new-account') Homework Submissions
					if user.identity == "T"
						a(href='/publish', class='text-center new-account') Publish Homework
					a(href='/signout', class='text-center new-account') Sign Out
>>>>>>> 8e87d8047ea9b60158d5b4011b64802f4e8a21e3
