div.form-horizontal
    div.page-header
        h1 可提交作业
        -if(unPassHomework.length)
            -for (var key in unPassHomework)
                -var temp = unPassHomework[key]
                div(class='alert alert-success',role='alert')
                    a(href='/home/'+'#{temp._id}',class='alert-link') #{temp.title} #{temp.deadline}
        -else
            div(class='alert alert-success',role='alert')
                a(href='#',class='alert-link') 当前没有发布作业
    div.page-header
        h1 不可提交作业
        -if(passHomework.length)
            -for (var key in passHomework)
                -var temp = passHomework[key]
                div(class='alert alert-success',role='alert')
                    a(href='/home/'+'#{temp._id}',class='alert-link') #{temp.title} #{temp.deadline}
        -else
            div(class='alert alert-success',role='alert')
                a(href='#',class='alert-link') 当前没有过期作业