<%- include header %>
<form method="post" class = "shorter">
  作业标题：<br />
  <input type="text" name="title" class="form-control" value="<%= post.title %>" disabled="disabled" /><br />
  修改作业Deadline：<br />
  <input type="text" name="ddl" class="form-control" value="<%= post.ddl %>" /><br />
  作业要求：<br />
  <textarea name="post" class="form-control" rows="10" cols="100" ><%= post.post %></textarea><br />
  <button type="submit" class="btn btn-success">保存修改</button>
</form>
<%- include footer %>