extends layout

block content
  .container
    .ui.pointing.menu
      a(class='item' href='/homework')
        i.home.icon
        | Homework-List
      if user.identity == 'teacher'
        a(href='/create', class='item')
          i.grid.layout.icon
          |  Create new one
      if user.identity == 'teacher'
        a(href='/modify', class='item')
          i.grid.layout.icon
          |  Modify submissions
      if user.identity == 'student'
        a(href='/my-submissions', class='item')
          i.grid.layout.icon
          |  My submissions
      .right.menu
        .item
          .ui.transparent.icon.input
            input(type="text", placeholder="Search...")
            i.search.link.icon
        a(href='/signout', class = 'ui item') Logout

    form(class='ui grid', action='/submission?id=#{hw._id}&hwname=#{hw.name}', method='POST')
      .column
        .ui.fluid.form.segment
          .one.fields
            .field
              label HomeworkName
              pre #{hw.name}
            .field
              label Teacher
              pre #{hw.teacherName}
            .field
              label StartDate
              pre #{hw.startDate}
            .field
              label Deadline
              pre #{hw.deadLine}
          .field
            label Description
            pre #{hw.description}
          if user.identity == 'student'
            .field
              label Mycode
              textarea(placeholder="coding", type="text", name='content')
            button(class = 'ui blue submit button', type='submit') Submit HOMEWORK!
            a(href='/homework', class= 'ui button') Back

          //-if user.identity == 'teacher'
            .field
              label change
              textarea(placeholder="coding", type="text", name='change')
            button(class = 'ui blue submit button', type='submit') Submit Change!
            a(href='/homework', class= 'ui button') Back