extends layout

block content
  .container
    .ui.pointing.menu
      a(class='item' href='/homework')
        i.home.icon
        | Homework-List
      if user.identity == 'teacher'
        a(href='/create', class='item')
          i.grid.layout.icon
          |  Create new one
      if user.identity == 'teacher'
        a(href='/modify', class='active item')
          i.grid.layout.icon
          |  Modify submissions
      if user.identity == 'student'
        a(href='/my-submissions', class='active item')
          i.grid.layout.icon
          |  My submissions
      .right.menu
        .item
          .ui.transparent.icon.input
            input(type="text", placeholder="Search...")
            i.search.link.icon
        a(href='/signout', class = 'ui item') Logout

    table.ui.table
      thead
        tr
          th HomeworkName
          th studentName
          th Deadline
          th Grade
          th Modify
      tbody
        each sub in sublist
          tr
            td #{sub.homeworkName}
            td #{sub.studentName}
            td #{sub.uploadDate}
            td #{sub.grade}
            td
              a(href='/modify/#{sub._id}')
                button.ui.button detail
