extends home

block homework
  div.panel.panel-primary
    div.panel-heading
      h2 所有作业要求
    div.panel-body
      each requirement in requirements
        div.panel.panel-info
          div.panel-heading
            h3 课程名字: #{requirement.coursename}
            h3 作业名字: #{requirement.requirementname}
            h3 截止时间: #{requirement.deadline}
          div.panel-footer
            if user.status == 'student'
              h3 作业要求: #{requirement.requirementcontent}
            else
              form(role='form', action='/updaterequirement', method='post')
                div.form-group
                  h3 作业要求: #{requirement.requirementcontent}
                  textarea.form-control(rows='5', name='requirementcontent', value="#{requirement.requirementcontent}", placeholder='更新作业要求...')
                  input(type='text', style='display: none', name='coursename', value="#{requirement.coursename}")
                  input(type='text', style='display: none', name='requirementname', value="#{requirement.requirementname}")
                if (new Date(requirement.deadline) - new Date() > 0)    
                  button.btn.btn-default(type='submit') 更新作业要求
                else
                  button.btn.btn-default(type='submit' disabled) 更新作业要求

  if user.status == 'student'
    div.panel.panel-primary
      div.panel-heading
        h2 我的作业
      div.panel-body
        each homework in homeworks
          if user.username == homework.username
            each requirement in requirements
              if homework.requirementname == requirement.requirementname
                div.panel.panel-success
                  div.panel-heading
                    h3 课程名字: #{requirement.coursename}
                    h3 作业名字: #{requirement.requirementname}
                    h3 作业要求: #{requirement.requirementcontent}
                  div.panel-footer
                    h3 用户名: #{homework.username}
                    h3 作业内容: #{homework.content}
                    h3 作业分数: #{homework.score == "none" ? "无" : homework.score}
  else
    div.panel.panel-primary
      div.panel-heading
        h2 所有学生的作业
      div.panel-body
        each homework in homeworks
          each requirement in requirements
            if homework.requirementname == requirement.requirementname
              div.panel.panel-success
                div.panel-heading
                  h3 课程名字: #{requirement.coursename}
                  h3 作业名字: #{requirement.requirementname}
                  h3 作业要求: #{requirement.requirementcontent}
                div.panel-body
                  h3 学生: #{homework.username}
                  h3 作业内容: #{homework.content}
                div.panel-footer
                  form(role='form', action='/mark', method='post')
                    div.form-group
                      label
                        h3 分数: #{homework.score == "none" ? "无" : homework.score}
                        input.form-control(type='text', name='score', placeholder='评分或重评')
                      input(type='text', style='display: none', name='coursename', value="#{requirement.coursename}")
                      input(type='text', style='display: none', name='requirementname', value="#{requirement.requirementname}")
                      input(type='text', style='display: none', name='username', value="#{homework.username}")
                      if (new Date(requirement.deadline) - new Date() < 0)
                        button.btn.btn-default(type='submit') 提交评分
                      else
                        button.btn.btn-default(type='submit' disabled) 提交评分