extends layout

block content
	div.container
		div.panel.panel-success
			div.panel-heading
				h3.panel-title 作业详情
			div.panel-body
				h4 #{assignment.name}
				pre #{assignment.description}
				h4 截止时间：#{assignment.deadline}
				h4 布置老师：#{assignment.teacher}
				a(href='/assignment/update/#{assignment._id}')
					button.btn.btn-warning(type="button") 修改
				a.back-button(href='/home')
					button.btn.btn-info(type="button") 返回
		if homeworks.length === 0
			h3 还没有同学提交作业
		else
			each item in homeworks
				div.panel.panel-primary
					div.panel-heading
						h3.panel-title 已提交的作业
					div.panel-body
						h4 提交同学
						p #{item.student_name}
						h4 作业内容
						pre #{item.content}
						if item.grade === undefined
							form(role="form", action="/homework/grade", method='POST')
								div.form-group
									input(type="hidden",name="homework[_id]", value="#{item._id}")
									input(type="hidden",name="assignment[_id]", value="#{item.assignment_id}")
									label.control-label(for="homework-grade") 分数
										input.form-control#homework-grade(type="text", placeholder="请给分", name="homework[grade]", required)
									br
									button.btn.btn-success(type="submit") 打分
						else
							h4 分数
							p #{item.grade}