extends layout

block content
	h1 Assignment：
	- for (var i = 0; i < assignments.length; i++) {
		div(class='panel panel-primary')
			div(class='panel-heading')
				h3(class='panel-title')
					|提交的作业 For Week #{assignments[i].week}
			div(class='panel-body')
				|Deadline: #{assignments[i].deadline.toUTCString()} <br/>
				|作业要求： <br/>
				|#{assignments[i].content}

	- }
	form(action='/assignment', method='POST')
		h3 发布新的作业
		label
			|Week
			select(name='week' class='form-control')
				- for (var i = 1; i <= 17; i++) {
					option #{i}
				- }

		label
			|Deadline: 
			label(class='text-center')
				|Month
				select(name='month' class='form-control') 
					- for (var i = 1; i <= 12; i++) {
						if i == 4
							option(selected) #{i}
						else
							option #{i}
					- }
			label(class='text-center')
				|Day
				select(name='day' class='form-control')
					- for (var i = 1; i <= 31; i++) {
						if i == 1
							option(selected) #{i}
						else
							option #{i}
					- }
		textarea(rows='10', name='content', class='form-control' placeholder='在这里放新的作业要求', required)
		button(class='width20 pull-right btn btn-lg btn-primary btn-block', type='submit') 提交作业