extends layout

block content
	h1 Upload Homework
	- for (var i = 0; i < homeworks.length; i++) {
		div(class='panel panel-primary')
			div(class='panel-heading')
				h3(class='panel-title')
					|提交的作业 For Week #{homeworks[i].week}
			div(class='panel-body')
				|作业提交者：#{homeworks[i].student} <br/>
				|最后提交时间： #{homeworks[i].date.toUTCString()} <br/>
				|#{homeworks[i].content}
				if user.identity == 'teacher'
					form(action='/homework/score', method='POST')
						h4 当前分数： #{homeworks[i].score}
						h4 打分:
						select(name='score')
							- for (var j = 100; j >= 0; j--)
								option #{j}
						input(class="sr-only", type="text", name="week", value="#{homeworks[i].week}")
						input(class="sr-only", type="text", name="student", value="#{homeworks[i].student}")
						button(class='btn btn-sm btn-primary', type='submit') 确定
				else if user.identity == 'student'
					h4 得分： #{homeworks[i].score}
	- }

	div(class='panel-body')
		form(action='/homework', method='POST')
			label
				|提交第几周作业
				select(name='week' class='form-control')
					- for (var i = 1; i <= 17; i++) {
						option #{i}
					- }
			textarea(rows='10', name='content', class='form-control' placeholder='在这里放你的作业内容', required)
			button(class='width20 pull-right btn btn-lg btn-primary btn-block', type='submit') 提交作业