extends layout

block content
  .myhw-wrapper
    include ./includes/breadcrumb.jade
    .ui.piled.segment.myhw-segment
      .ui.green.ribbon.label
        i.male.icon
        | #{assignment.teacherName}
      h2.ui.header
        i.graduation.icon
        .content
          | #{assignment.title}
      p
        | #{assignment.description}
      .ui.icon.error.message
        if isvalid
          i.attention.circle.icon
        else
          i.remove.circle.icon
        .content
          if isvalid
            .header 截止日期
          else
            .header 已过截止日期，无法提交
          p.deadline-date #{assignment.datestring}

      if user.identity == 0
        if isvalid
          form.upload-homework-form(enctype='multipart/form-data', action='/upload', method='post')
            .ui.left.action.input
              button.ui.teal.labeled.icon.button
                i.upload.icon
                | 上传文件
              input.myhw-upload(type='file', name='homework')
              input(type='hidden', name='assignment_id', value='#{assignment._id}')
              input(type='hidden', name='assignment_title', value='#{assignment.title}')
              input.file-path(type='text', value='点击左侧按钮上传', disabled='')
            .ui.labeled.positive.icon.button.homework-submit-btn
              i.checkmark.icon
              | 提交作业
      else if user._id == assignment.teacherId
        if isvalid
          .ui.labeled.pink.icon.button.update-deadline
            i.history.icon
            | 更新截止日期
          .ui.right.labeled.teal.icon.button.update-assignment(data-href='/update?aid=#{assignment._id}')
            i.paint.brush.icon
            | 更新作业要求

      .myhw-list
        table.ui.celled.striped.table
          thead
            tr
              th(colspan='3')
                | 已提交作业
          tbody
            if hwlist.length <= 0
              tr
                td.myhw-empty
                  .ui.icon.header
                    i.bitbucket.icon
                    .content
                      | 并没有东西
                      .sub.header 尚无人提交作业
            else
              each val in hwlist
                tr
                  td
                    if user.identity == 1
                      a(href='/download/#{val.path}')
                        i.file.archive.outline.icon
                        | #{val.name}
                    else
                      p
                        i.file.archive.outline.icon
                        | #{val.name}
                  td.right.aligned.collapsing #{val.datestring}

                  if !isvalid && user.identity == 1
                    td.right.aligned.collapsing
                      form.ui.action.input.score-form
                        input(type='hidden', name='homework_id', value='#{val._id}')
                        if val.score >= 0
                          input.score-input(type='number', value='#{val.score}', name='score')
                        else
                          input.score-input(type='number', placeholder='Score', name='score')
                        button.ui.green.right.labeled.icon.button(type='submit')
                          i.find.icon
                          | 评分


    if user.identity == 1 && isvalid
      .ui.basic.modal
        i.close.icon
        .header
          | 更新截止日期
        .content
          form.ui.form.modal-form
            .field.required
              .ui.icon.input
                input#datetimepicker(name='deadline', type='text', value='2015-05-01 21:05', data-date-format='yyyy-mm-dd hh:ii', required='')
                input(name='assignment_id', type='hidden', value='#{assignment._id}')
                i.calendar.icon
            .ui.bottom.error.message
              i.remove.circle.icon
              | Already signed up?
              a(href='#') Login here
              | instead.
        .actions
          .two.fluid.ui.inverted.buttons
            .ui.red.basic.inverted.button
              i.remove.icon
              | 取消并关闭
            .ui.green.basic.inverted.button.modal-form-submit
              i.checkmark.icon
              | 确定更新