extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.usertype}——#{user.firstName}. 
						div.signup-wall
							ul.user-details
								li Username ---> #{user.username}
								li Email    ---> #{user.email}
								li First Name ---> #{user.firstName} 
								li Last Name ---> #{user.lastName}

					if user.usertype == 'student'
						div.signup-wall
							ul.user-details
								a(href='/hwsumbit', class='text-center new-account') 提交作业

						div.signup-wall
							ul.user-details
								a(href='/hwscore', class='text-center new-account') 查看已提交作业和分数

					if user.usertype == 'teacher'
						div.signup-wall
							ul.user-details
								a(href='/hwpublic', class='text-center new-account') 发布作业

						div.signup-wall
							ul.user-details
								a(href='/hwscore', class='text-center new-account') 查看已提交作业和给分数


					a(href='/signout', class='text-center new-account') Sign Out