extends layout

block content
	h1 Homework:
		each item in HwSumbit
			form(action='/hwscore', method='POST')
				h3 课程 #{item.course}</br>
				input(type="text", name="course", value="#{item.course}", style="display:none")
				h3 作业内容 #{item.content}</br>
				h3 提交者 #{item.student}</br>
				input(type="text", name="student", value="#{item.student}", style="display:none")
				h3 提交日期 #{item.date}</br>
				h3 分数 #{item.score}</br>
				if user.usertype == 'teacher'
					textarea(rows='1', name='score', class='form-control scoretext' placeholder='分数', required)
					button(class='width20 btn btn-lg btn-primary btn-block scoretext', type='submit') 提交
				hr