extends layout

block content
	h1.text-center.login-title All Assignments:
		each contant in collection
			div.center
				div.signup-wall
					ul.user-details
						li Homework Title  :  #{contant.Head}
						li Teacher  :  #{contant.master}
						li DeadLine  :  #{contant.ddl}
					span #{contant.content}
				if user.status == 'S'
					a(href='/submit/#{contant.Head}')
						button(class = "submit") Submit
				if user.status == 'T'
					a(href='/modify/#{contant.Head}')
						button(class = "submit") Redit
	a(href='/home', class='text-center new-account') Back
					
