extends layout

block content
	div.nav.navbar.navbar-inverse.navbar-fixed-top
		div.container
			div.navbar-brand
				if user.identity == 'teacher'
					div.label.label-danger Teacher
				else if user.identity == 'student'
					div.label.label-success Student
			div.user-info
				#user
				p.navbar-text Welcome #{user.firstName}.#{user.lastName}!
			div.sign-out
				if user.identity == 'teacher'
					a.btn.navbar-btn.publish-btn(href='/hw-produce') Publish
				a.btn.navbar-btn.publish-btn(href='/hw-view') View
				a.btn.navbar-btn.publish-btn(href='/home') Home
				a.btn.navbar-btn.signout-btn.pull-right(href='/signout') Signout
	div.produce-homework
		div.col-sm-6.col-md-4.col-md-offset-4
			h1.text-center.login-title Grade Homework
			div.well.well-sm
				h4.question-title Title: #{question.title}
		div.col-sm-6.col-md-4.col-md-offset-2
			textarea.form-control(rows='20' disabled style='display:inline') #{question.question}
		div.col-sm-6.col-md-4
			textarea.form-control(rows='20' disabled style='display:inline') #{announcement.answer}
		div.col-sm-6.col-md-4.col-md-offset-4
			form(action='/hw-grade/#{announcement._id}/#{announcement.hw_id}' method='POST')
				div.text-center
					p(style='display:inline') Grade 
					input.form-control(name='checked-announcement-grade' type='text' style='display:inline' required)
				if date >= question.ddl
					button.btn.btn-lg.btn-primary.center-block(type='submit') Submit
				else
					button.btn.btn-lg.btn-primary.center-block.disabled(type='submit') Submit	