extends layout

block content
	h1.text-center.login-title Update the Homework:
		form(class='form-signin', action='/hwupdate/#{item._id}', method='POST')
			div.signup-wall
				ul.user-details
					li Homework Title  :  #{item.hwname}
					li Master  :  #{item.master}
					input(type='date', name='_hwddl', class='form-control', placeholder='#{item.hwddl}',required)
					input(type='text', name='_hwrequest', class='form-control', placeholder='#{item.hwrequest}',required)
			button(class='btn btn-lg btn-primary btn-block', type='submit') Update
	a(href='/hwsee', class='text-center new-account') Back
					
