
extends layout

block content
  div.container
    div.col-sm-6.col-md-4.col-md-offset-4
      #user
        h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
          div.signup-wall
            ul.user-details
              li Username ---> #{user.username}
                li Email    ---> #{user.email}
                li First Name ---> #{user.firstName} 
                li Last Name ---> #{user.lastName}
                li Is Teacher ---> #{user.isTeacher}
                li Is Student ---> #{user.isStudent}
            a(href='/signout', class='text-center new-account') Sign Out

        h1.text-center.login-title Create A New Class
          div.signup-wall
            form(class='form-signin', action='/CreateNewClass', method='POST')
              input(type='text', name='classname', class='form-control', placeholder='Class Name',required, autofocus)
              input(type='text', name='time', class='form-control nomargin', placeholder='Class Time', required)
              button(class='btn btn-lg btn-primary btn-block', type='submit') Sumbit
              span.clearfix
                #message
                  if message
                    h1.text-center.error-message #{message}
