extends layout

block content
  div.container
    div.col-sm-6.col-md-4.col-md-offset-4
      #user
        h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
          div.signup-wall
            ul.user-details
              li Username ---> #{user.username}
                li Email    ---> #{user.email}
                li First Name ---> #{user.firstName} 
                li Last Name ---> #{user.lastName}
                li Is Teacher ---> #{user.isTeacher}
                li Is Student ---> #{user.isStudent}
            a(href='/signout', class='text-center new-account') Sign Out

    #user
      div.col-sm-10.col-md-10.col-md-offset-1
        h1.text-center.login-title All Submissions
          div
            table.table.table-hover
              thead
                tr
                  th.text-center student name
                  th.text-center content
                  th.text-center date
                  th.text-center grade
                  if user.isTeacher
                    th.text-center option
              tbody
                #homework_
                  for entry in homework_.submits.reverse()
                    if (entry.student == user.username || user.isTeacher)
                      if (entry.offdate == 'false')
                        tr
                          td= entry.student
                          td= entry.content
                          td= entry.date
                          td= entry.grade
                          if user.isTeacher
                            form(method='POST' action='/class/' + homework_.className + '/' + homework_.homeworkName + '/' + entry.student + '/updateGrade')
                              td
                                input(type='text', name='score', class='form-control', placeholder=entry.grade,required)
                                button(class='btn btn-sm btn-primary', type='submit') update grade
