extends layout

block content
	.container
		.row
			.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
						.signup-wall
							ul.user-details
								li Username ---> #{user.username}
								li Email    ---> #{user.email}
								li First Name ---> #{user.firstName} 
								li Last Name ---> #{user.lastName}
								li Role ---> #{user.role}
			if user.role == 'teacher'
				.col-sm-6.col-md-4.col-md-offset-4
					.col-md-2
						a.back-button(href='/assignment')
							button.btn.btn-info(type='button') 所有作业
					//- .col-md-2.col-md-offset-2
					//- 	a.back-button(href='#')
					//- 		button.btn.btn-info(type='button') 批改作业
					.col-md-2.col-md-offset-6
						a.back-button(href='/signout')
							button.btn.btn-danger(type='button') Sign out
			else if user.role == 'student'
				.col-sm-6.col-md-4.col-md-offset-4
					.col-md-2
						a.back-button(href='/homework')
							button.btn.btn-info(type='button') 查看作业
					.col-md-2.col-md-offset-6
						a.back-button(href='/signout')
							button.btn.btn-danger(type='button') Sign out
