extends layout

block content
	div.container
		div.row
			div.col-md-12
				#user
					div.col-md-8.h2 Hello #{user.firstName}!
					div.col-md-4.h2.text-right  #{' '+user.role}
		if user.role == 'student'
			div.panel.panel-primary
				div.panel-heading
					h3.panel-title 所有作业
				for ass in assignment
					.panel.panel-default
						.row
							.col-md-3.h3 作业名称:#{ass.assName}
							.col-md-2.h3 老师:#{ass.teacherName}
							.col-md-7.h3 截止时间:#{ass.deadline}
						.row
							.col-md-2.h3 作业要求
							.col-md-8.h3 #{ass.description}
							.col-md-2
								a.back-button(href='/homework/#{ass._id}')
									button.btn.btn-info(type="button") 我的提交

				//- div.panel-body
				//- 	form(role="form", action="/homework", method='POST')
				//- 		.form-group
				//- 			label.control-label(for="homework-name") 作业名称
				//- 			input.form-control#homework-name(type="text", placeholder="请输入作业名称", name="homework[name]", required)
				//- 			br
				//- 			label 作业要求
				//- 			textarea.form-control(rows="10", placeholder="请输入作业作业要求", name="homework[description]", required)
				//- 			br
				//- 			label.control-label(for="homework-deadline") 截止时间
				//- 			input.form-control#homework-deadline(type="date", placeholder="请输入截止时间", name="homework[deadline]", required)
				//- 			br
				//- 			button.btn.btn-success(type="submit") 发布
				//- 			a.back-button(href='/home')
				//- 				button.btn.btn-info(type="button") 返回
