extends layout

block content
	div.text-left
		div
			div
				#user
					h1 Welcome #{user.firstName}. Check your details below:
						div.signup-wall
							ul(class='nav navbar-nav')
								li Username ---> #{user.username}
								li Email    ---> #{user.email}
								li First Name ---> #{user.firstName} 
								li Last Name ---> #{user.lastName}
								li Teacher or Student? ---> #{user.teacher_student}
						if user.teacher_student == 'teacher'
							h2 Create a new deadline:
								div.ddl-create
									form(class='form-inline', action='/deadline', method='POST')
										input(type='text', name='name' class='form-control', placeholder='ProjectName',required, autofocus)
										div.deadline Deadline:
											<input type='datetime-local', name='mdate'>
										button(class='btn btn-lg btn-primary btn-block', type='submit') Commit
						span.clearfix
						if d.length
							div Homework now:
							table(class = 'table table-striped')
								tr
									th Project Name
									th Deadline
									if user.teacher_student == 'student'
										th Do homework or view your score
									else
										th Modify deadline or score
								tbody
									each one in d
										tr
											th.name #{one.name}
											th #{one.deadline}
											th  
												if user.teacher_student == 'teacher'
													a(href='/modify/#{one.name}', class = 'modify') modify
												else
													a(href='/upload/#{one.name}', class = 'handin') handin
						if pd.length
							div Passed homework:
							table(class = 'table table-striped')
								tr
									th Project Name
									th Deadline
									if user.teacher_student == 'student'
										th Do homework or view your score
									else
										th Modify deadline or score
								tbody
									each one in pd
										tr
											th.name #{one.name}
											th #{one.deadline}
											th  
												if user.teacher_student == 'teacher'
													a(href='/score/#{one.name}', class = 'score') score
												else
													a(href='/result/#{one.name}', class = 'result') result

						if !d.length && !pd.length
							ul.my-ddls
								li No Deadline now.
						a(href='/signout', class='text-center new-account') Sign Out





    


